# Shoper Store Configuration
SHOPER_STORE_URL=https://sklep.plyndo.pl
SHOPER_TECHNICAL_DOMAIN=sklep562393.shoparena.pl
SHOPER_API_URL=https://sklep562393.shoparena.pl/webapi/rest

# Shoper REST API Credentials
SHOPER_API_USER=
SHOPER_API_PASSWORD=

# Shoper Web Administration Credentials
SHOPER_WEB_ADMIN_USER=
SHOPER_WEB_ADMIN_PASSWORD=

# Shoper CLI Token
SHOPER_CLI_TOKEN=
